{% extends 'incidentapp/base.html' %}
{% load bootstrap4 %}
{% block page %}
{% load static %}
<div class="row">
    <div class="col-md-8 offset-md-5 content">
        <div class="block">
            <h2>Create incident</h2>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  {% bootstrap_form form %}
                  <button class="btn" type="submit">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>  
{% endblock %}